In [84]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse

In [85]:
FILEPATH_2020 = "with_closed_ations_as________select_app_2020_X5_STORES.csv"
df = pd.read_csv(FILEPATH_2020)
df

/home/lev/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
1,4545953,3714199,-1,24522,2020-01-24 16:57:59.521103+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
2,4600098,3714199,-1,24522,2020-02-05 17:57:55.727051+00,Создание кандидата,NaN,NaN,Директор магазина,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739677,4734680,2232021,-1,32061,2020-04-23 16:26:11.80918+00,Гайд-интервью,Назначить время для гайд-интервью,NaN,Администратор,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739681 entries, 0 to 739680
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_applicant      739681 non-null  int64
 1   id_partner        739681 non-null  int64
 2   id_log            739681 non-null  int64
 3   department_id     739681 non-null  int64
 4   action_date       739681 non-null  object
 5   stage_name        739681 non-null  object
 6   activity_name     510380 non-null  object
 7   result_name       471541 non-null  object
 8   position_name     739681 non-null  object
 9   is_active_action  739681 non-null  bool
 10  is_open_action    739681 non-null  bool
dtypes: bool(2), int64(4), object(5)
memory usage: 52.2+ MB

In [87]:
df[df['position_name'] == 'Продавец-кассир']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [88]:
df = df[df['position_name'] == 'Продавец-кассир']

In [52]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [89]:
df = df[df['is_active_action'] == True]
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [19]:
df['stage_name'].unique()

array(['Создание кандидата', 'Интервью с руководителем', 'Обработка',
       'Оформление', 'Смена вакансии', 'СБ', 'Не прошел СБ',
       'Мы отказали', 'Выход на работу', 'Отказался', 'Резерв',
       'Черный список'], dtype=object)

In [54]:
df[df['stage_name'] == 'Выход на работу']['activity_name'].unique()

array(['Назначить время на оформление', 'Узнать результаты приема',
       'Предоставить обратную связь по кандидату'], dtype=object)

In [55]:
df[df['stage_name'] == 'Оформление']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
214832,4799822,3848969,26663190,35752,2020-03-26 13:45:08.795075+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214833,4799822,3848969,26651145,35752,2020-03-26 10:32:12.143249+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214850,4813173,1155855,26686149,7676,2020-03-27 11:09:33.803032+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214851,4813173,1155855,26685365,7676,2020-03-27 10:56:49.421809+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214852,4813173,1155855,26674665,7676,2020-03-26 17:16:21.316412+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739646,4859722,3757095,-1,32011,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739647,4846458,3831915,-1,32011,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739660,4862004,3884234,-1,31960,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739661,4847420,3792798,-1,31960,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True
739674,4858661,3882286,-1,32061,2020-04-23 16:26:11.80918+00,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True,True

In [25]:
df['activity_name'].unique()

array([nan, 'Узнать результаты интервью с руководителем',
       'Назначить интервью с руководителем', 'Проверка формы обращения',
       'Провести первичную обработку',
       'Предоставить обратную связь по кандидату',
       'Назначить время на оформление', 'Узнать результаты СБ',
       'Подготовить анкету кандидата', 'Узнать результаты приема',
       'Вывести из черного списка'], dtype=object)

In [57]:
df['result_name'].unique()

array([nan, 'Отказ кандидата', 'Не резерв', 'Подходит', 'Не подходит',
       'ОС не предоставлена руководителем', 'Отказ руководителя',
       'Недозвон', 'Перенос звонка', 'Встреча назначена', 'Подготовлена',
       'Резерв', 'Принят', 'ОС предоставлена руководителем',
       'Время назначено', 'Нет обратной связи от руководителя',
       'В белый список', 'Перенос кандидата', 'Нет обратной связи',
       'Не принят', 'Черный список', 'Перенос руководителя',
       'Уточнение данных'], dtype=object)

In [27]:
df[df['stage_name'] == 'Создание кандидата']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
214796,4786698,3428147,-1,46400,2020-03-20 11:30:52.019262+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214797,4808551,3853652,-1,23947,2020-03-25 16:13:19.44198+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214799,4751444,3824154,-1,8990,2020-03-12 10:47:16.388433+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214800,4687058,2940849,-1,8205,2020-02-25 17:13:43.228248+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214801,4790888,3182834,-1,11018,2020-03-22 13:24:11.711969+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False

In [28]:
df[df['id_applicant'] == 4797513]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
589537,4797513,3847682,26637050,7335,2020-03-25 16:54:00.449423+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Резерв,Продавец-кассир,True,False

In [29]:
df[df['id_applicant'] == 4788965]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
430136,4788965,3843286,26637059,10613,2020-03-25 16:54:27.086305+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Отказ кандидата,Продавец-кассир,True,False

In [31]:
df[df['id_applicant'] == 4798971]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
391468,4798971,1253935,26577392,9851,2020-03-24 10:39:59.435347+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
391469,4798971,1253935,26577393,9851,2020-03-24 10:40:00.474632+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
391470,4798971,1253935,26577407,9851,2020-03-24 10:40:12.953683+00,Интервью с руководителем,Назначить интервью с руководителем,Перенос звонка,Продавец-кассир,True,False
391471,4798971,1253935,26637103,9851,2020-03-25 16:55:18+00,Смена вакансии,NaN,NaN,Продавец-кассир,True,False

In [33]:
df[df['result_name'] == 'Подходит']

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
214808,4809171,3853922,26638907,12320,2020-03-25 17:27:44.445276+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214837,4799096,3388458,26578035,30059,2020-03-24 10:53:03.196817+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214854,4813173,1155855,26672396,7676,2020-03-26 16:35:38.502735+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
214855,4813173,1155855,26666888,7676,2020-03-26 14:52:45.920591+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214858,4813173,1155855,26666900,7676,2020-03-26 14:52:48.531107+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
704659,4845662,3874498,26869895,27342,2020-04-05 10:43:27.391201+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
704663,4812837,3853722,26664880,29582,2020-03-26 14:14:38.505309+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
704665,4843263,3873116,26876167,30321,2020-04-05 23:14:25.489878+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
704668,4843263,3873116,26852456,30321,2020-04-04 08:58:44.182401+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
704671,4843263,3873116,26852452,30321,2020-04-04 08:58:40.893777+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False

In [34]:
df[df['id_applicant'] == 4813173]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
1899,4813173,1155855,-1,7676,2020-03-26 14:51:48.957161+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
214850,4813173,1155855,26686149,7676,2020-03-27 11:09:33.803032+00,Оформление,Назначить время на оформление,Отказ кандидата,Продавец-кассир,True,False
214851,4813173,1155855,26685365,7676,2020-03-27 10:56:49.421809+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214852,4813173,1155855,26674665,7676,2020-03-26 17:16:21.316412+00,Оформление,Назначить время на оформление,Недозвон,Продавец-кассир,True,False
214853,4813173,1155855,26672397,7676,2020-03-26 16:35:39.551012+00,СБ,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
214854,4813173,1155855,26672396,7676,2020-03-26 16:35:38.502735+00,СБ,Узнать результаты СБ,Подходит,Продавец-кассир,True,False
214855,4813173,1155855,26666888,7676,2020-03-26 14:52:45.920591+00,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,True,False
214856,4813173,1155855,26666892,7676,2020-03-26 14:52:46.802628+00,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,True,False
214857,4813173,1155855,26666896,7676,2020-03-26 14:52:47.751605+00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,True,False
214858,4813173,1155855,26666900,7676,2020-03-26 14:52:48.531107+00,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,True,False
214859,4813173,1155855,26666903,7676,2020-03-26 14:52:49.519977+00,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,True,False

In [38]:
df['action_date'] = df['action_date'].astype(str) + "00"

In [39]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+0000,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+0000,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [60]:
# df['action_date'] = pd.to_datetime(df['action_date'], format="%Y-%m-%d %H:%M:%S.%f%z")

In [59]:
for i in range(len(df['action_date'])):
    df['action_date'][i] = parse(df['action_date'][i])
df['action_date'] = pd.to_datetime(df['action_date']).dt.strftime("%d-%m-%Y %H:%M:%S")

In [58]:
pd.unique(df[['stage_name', 'activity_name']].values

SyntaxError: unexpected EOF while parsing (<ipython-input-58-c40b5254d8c5>, line 1)

In [74]:
df_new = df[['id_applicant','stage_name','activity_name','result_name']]
df_new = df_new.sort_values('id_applicant')
df_new = df_new[df_new['stage_name'] != 'Создание кандидата']

In [75]:
df_new.to_csv('unique2.csv')

In [76]:
df_new = df[['stage_name','activity_name','result_name']]
df_new = df_new.drop_duplicates().sort_values('activity_name')

In [77]:
df_new.to_csv('unique.csv')

In [82]:
df.groupby('id_applicant').count().sort_values('action_date')

,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
id_applicant,,,,,,,,,,
4461761,1,1,1,1,1,0,0,1,1,1
4687013,1,1,1,1,1,0,0,1,1,1
4687007,1,1,1,1,1,0,0,1,1,1
4687006,1,1,1,1,1,0,0,1,1,1
4687003,1,1,1,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...
4811435,29,29,29,29,29,28,28,29,29,29
4814936,30,30,30,30,30,29,28,30,30,30
4700471,31,31,31,31,31,29,29,31,31,31
4788781,31,31,31,31,31,28,29,31,31,31
4784167,34,34,34,34,34,31,32,34,34,34

In [90]:
# df[df['id_applicant'] == 4784167]

In [91]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25.316022+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34.454329+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36.124784+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28.667648+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35.802112+00,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11.80918+00,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [94]:
df['action_date'] = df['action_date'].str[:19]

In [95]:
df

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
0,4797513,3847682,-1,7335,2020-03-23 19:57:25,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
3,4788965,3843286,-1,10613,2020-03-20 16:09:34,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
4,4777310,2372866,-1,45445,2020-03-18 13:53:36,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
11,4798971,1253935,-1,9851,2020-03-24 10:39:28,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
13,4637426,3352131,-1,7640,2020-02-13 12:44:35,Создание кандидата,NaN,NaN,Продавец-кассир,True,False
...,...,...,...,...,...,...,...,...,...,...,...
739675,4825142,2952699,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739676,4736341,936507,-1,32061,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739678,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739679,4769924,3823657,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True
739680,4683816,862865,-1,32093,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True,True

In [97]:
df['action_date'] = pd.to_datetime(df['action_date'], format="%Y-%m-%d %H:%M:%S")

In [103]:
df[df['id_applicant'] == 4784167].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
182109,4784167,3339623,49607,2020-03-19 16:25:55,Создание кандидата,NaN,NaN
625663,4784167,3339623,49607,2020-03-19 16:26:12,Обработка,Провести первичную обработку,Подходит
625664,4784167,3339623,49607,2020-03-19 16:26:13,Обработка,Проверка формы обращения,Не резерв
625665,4784167,3339623,49607,2020-03-19 16:26:44,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
625666,4784167,3339623,49607,2020-03-20 15:44:50,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
625667,4784167,3339623,49607,2020-03-20 15:44:51,СБ,Подготовить анкету кандидата,Подготовлена
625668,4784167,3339623,49607,2020-03-20 17:27:26,СБ,Узнать результаты СБ,Подходит
625669,4784167,3339623,49607,2020-03-20 17:27:27,СБ,Проверка формы обращения,Не резерв
625670,4784167,3339623,49607,2020-03-21 17:49:34,Оформление,Назначить время на оформление,Время назначено
625680,4784167,3339623,49607,2020-03-24 11:16:57,Оформление,Узнать результаты приема,Перенос звонка
625671,4784167,3339623,49607,2020-03-25 16:23:06,Оформление,Узнать результаты приема,Недозвон
625672,4784167,3339623,49607,2020-03-26 17:24:45,Оформление,Узнать результаты приема,Недозвон
625673,4784167,3339623,49607,2020-03-27 12:29:12,Оформление,Узнать результаты приема,Нет обратной связи от руководителя
625674,4784167,3339623,49607,2020-03-30 10:05:07,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625675,4784167,3339623,49607,2020-03-31 08:02:32,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625676,4784167,3339623,49607,2020-03-31 16:01:37,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625679,4784167,3339623,49607,2020-04-01 14:03:02,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625678,4784167,3339623,49607,2020-04-02 12:03:30,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625677,4784167,3339623,49607,2020-04-02 16:04:24,Оформление,Предоставить обратную связь по кандидату,ОС предоставлена руководителем
625662,4784167,3339623,49607,2020-04-02 16:04:53,Смена вакансии,NaN,NaN
625661,4784167,3339623,49607,2020-04-02 16:05:25,Смена вакансии,NaN,ОС не предоставлена руководителем
625660,4784167,3339623,49607,2020-04-03 14:05:14,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625659,4784167,3339623,49607,2020-04-06 12:05:45,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625658,4784167,3339623,49607,2020-04-07 07:02:05,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625657,4784167,3339623,49607,2020-04-07 13:03:12,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625656,4784167,3339623,49607,2020-04-08 08:02:09,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625655,4784167,3339623,49607,2020-04-08 13:06:14,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625654,4784167,3339623,49607,2020-04-09 08:05:59,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625653,4784167,3339623,49607,2020-04-09 13:07:51,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625652,4784167,3339623,49607,2020-04-10 08:04:03,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625651,4784167,3339623,49607,2020-04-10 13:04:36,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625650,4784167,3339623,49607,2020-04-13 08:05:46,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625648,4784167,3339623,49607,2020-04-13 16:15:21,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
625649,4784167,3339623,49607,2020-04-13 16:15:22,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя

In [105]:
df[df['id_applicant'] == 4700471].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
128776,4700471,3797151,30806,2020-02-28 09:26:22,Создание кандидата,NaN,NaN
397218,4700471,3797151,30806,2020-02-28 09:26:31,Обработка,Провести первичную обработку,Подходит
397243,4700471,3797151,30806,2020-02-28 09:26:33,Обработка,Проверка формы обращения,Не резерв
397219,4700471,3797151,30806,2020-02-28 09:26:34,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
397220,4700471,3797151,30806,2020-02-28 09:26:36,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
397221,4700471,3797151,30806,2020-02-28 09:26:37,СБ,Узнать результаты СБ,Подготовлена
397222,4700471,3797151,30806,2020-02-28 10:55:17,СБ,Узнать результаты СБ,Подходит
397240,4700471,3797151,30806,2020-02-28 10:55:18,СБ,Проверка формы обращения,Не резерв
397223,4700471,3797151,30806,2020-02-28 15:47:48,Оформление,Назначить время на оформление,Недозвон
397224,4700471,3797151,30806,2020-02-28 17:35:11,Оформление,Назначить время на оформление,Недозвон
397225,4700471,3797151,30806,2020-02-29 12:46:38,Оформление,Назначить время на оформление,Время назначено
397226,4700471,3797151,30806,2020-03-03 12:00:01,Оформление,Узнать результаты приема,Недозвон
397227,4700471,3797151,30806,2020-03-03 12:14:28,Оформление,Узнать результаты приема,Перенос звонка
397228,4700471,3797151,30806,2020-03-10 09:44:25,Оформление,Узнать результаты приема,Недозвон
397229,4700471,3797151,30806,2020-03-10 10:43:04,Оформление,Узнать результаты приема,Нет обратной связи от руководителя
397230,4700471,3797151,30806,2020-03-11 09:03:12,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397231,4700471,3797151,30806,2020-03-11 17:01:54,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397232,4700471,3797151,30806,2020-03-12 15:01:42,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397233,4700471,3797151,30806,2020-03-13 14:02:09,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397234,4700471,3797151,30806,2020-03-16 12:02:33,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397235,4700471,3797151,30806,2020-03-17 10:03:05,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397236,4700471,3797151,30806,2020-03-18 08:01:21,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397237,4700471,3797151,30806,2020-03-18 16:03:21,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397238,4700471,3797151,30806,2020-03-19 14:04:08,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397239,4700471,3797151,30806,2020-03-20 12:02:41,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397241,4700471,3797151,30806,2020-03-23 10:04:03,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397242,4700471,3797151,30806,2020-03-24 08:02:37,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397244,4700471,3797151,30806,2020-03-24 16:02:47,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397245,4700471,3797151,30806,2020-03-25 14:02:46,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
397248,4700471,3797151,30806,2020-04-01 16:33:04,Оформление,Предоставить обратную связь по кандидату,ОС предоставлена руководителем
397249,4700471,3797151,30806,2020-04-01 16:33:21,Смена вакансии,NaN,NaN

In [112]:
# df[(df['activity_name'] == 'Узнать результаты СБ') & (df['result_name'] == 'Подготовлена')]

In [111]:
df[df['id_applicant'] == 4814936].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
181887,4814936,3856819,12114,2020-03-27 09:21:02,Создание кандидата,NaN,NaN
673967,4814936,3856819,12114,2020-03-27 09:21:22,Обработка,Провести первичную обработку,Подходит
673966,4814936,3856819,12114,2020-03-27 09:21:23,Обработка,Проверка формы обращения,Не резерв
673965,4814936,3856819,12114,2020-03-27 09:21:34,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
673964,4814936,3856819,12114,2020-03-27 14:30:20,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
673963,4814936,3856819,12114,2020-03-27 14:30:40,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
673962,4814936,3856819,12114,2020-03-29 12:42:38,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата
673961,4814936,3856819,12114,2020-03-29 12:42:51,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
673960,4814936,3856819,12114,2020-03-31 16:12:17,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя
673959,4814936,3856819,12114,2020-04-01 14:01:52,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673958,4814936,3856819,12114,2020-04-01 15:32:06,Интервью с руководителем,Предоставить обратную связь по кандидату,ОС предоставлена руководителем
673957,4814936,3856819,12114,2020-04-01 15:32:12,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
673956,4814936,3856819,12114,2020-04-01 15:32:15,СБ,Подготовить анкету кандидата,Подготовлена
673954,4814936,3856819,12114,2020-04-02 08:25:42,СБ,Узнать результаты СБ,Подходит
673955,4814936,3856819,12114,2020-04-02 08:25:43,СБ,Проверка формы обращения,Не резерв
673953,4814936,3856819,12114,2020-04-02 14:28:25,Оформление,Назначить время на оформление,Время назначено
673952,4814936,3856819,12114,2020-04-02 14:28:29,Оформление,Узнать результаты приема,Нет обратной связи от руководителя
673951,4814936,3856819,12114,2020-04-03 12:04:45,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673950,4814936,3856819,12114,2020-04-06 10:28:28,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673949,4814936,3856819,12114,2020-04-07 05:01:26,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673948,4814936,3856819,12114,2020-04-07 13:01:45,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673947,4814936,3856819,12114,2020-04-08 08:01:05,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673946,4814936,3856819,12114,2020-04-08 13:05:04,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673945,4814936,3856819,12114,2020-04-09 08:02:50,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673944,4814936,3856819,12114,2020-04-09 13:04:14,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673943,4814936,3856819,12114,2020-04-10 08:02:27,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673942,4814936,3856819,12114,2020-04-10 13:03:15,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673941,4814936,3856819,12114,2020-04-13 08:03:59,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
673940,4814936,3856819,12114,2020-04-13 16:14:06,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
732463,4814936,3856819,12114,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN

In [118]:
df[(df['activity_name'] == 'Предоставить обратную связь по кандидату') & (df['result_name'].isnull())]

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_active_action,is_open_action
711758,4882085,3873077,-1,28405,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
712455,4863179,3884908,-1,9841,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
715045,4870738,3412423,-1,10679,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
724601,4871377,3889584,-1,29582,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
724707,4877371,1280450,-1,11285,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
...,...,...,...,...,...,...,...,...,...,...,...
736325,4848860,3876564,-1,47515,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
736401,4871758,3888449,-1,11765,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
736413,4845963,3871526,-1,43717,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
736668,4851310,3878089,-1,44345,2020-04-23 16:26:11,Оформление,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True
739013,4845723,3865073,-1,12404,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN,Продавец-кассир,True,True

In [123]:
df[df['id_applicant'] == 4845963].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
189055,4845963,3871526,43717,2020-04-05 12:23:44,Создание кандидата,NaN,NaN
236527,4845963,3871526,43717,2020-04-05 12:23:52,Обработка,Провести первичную обработку,Подходит
236528,4845963,3871526,43717,2020-04-05 12:23:52,Обработка,Проверка формы обращения,Не резерв
236526,4845963,3871526,43717,2020-04-05 12:24:02,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
236525,4845963,3871526,43717,2020-04-12 13:58:59,Интервью с руководителем,Узнать результаты интервью с руководителем,Недозвон
236524,4845963,3871526,43717,2020-04-13 19:31:52,Интервью с руководителем,Узнать результаты интервью с руководителем,Нет обратной связи от руководителя
736413,4845963,3871526,43717,2020-04-23 16:26:11,Интервью с руководителем,Предоставить обратную связь по кандидату,NaN

In [125]:
df[df['id_applicant'] == 4811435].drop(['id_log', 'is_active_action', 'is_open_action', 'position_name'], axis=1).sort_values('action_date')

,id_applicant,id_partner,department_id,action_date,stage_name,activity_name,result_name
47803,4811435,3855129,9518,2020-03-26 11:16:18,Создание кандидата,NaN,NaN
540756,4811435,3855129,9518,2020-03-26 11:16:43,Обработка,Провести первичную обработку,Подходит
540757,4811435,3855129,9518,2020-03-26 11:16:44,Обработка,Проверка формы обращения,Не резерв
540758,4811435,3855129,9518,2020-03-26 11:16:45,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена
540759,4811435,3855129,9518,2020-03-26 11:16:45,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит
540760,4811435,3855129,9518,2020-03-26 11:16:46,СБ,Подготовить анкету кандидата,Подготовлена
540755,4811435,3855129,9518,2020-03-26 13:07:57,СБ,Узнать результаты СБ,Подходит
540754,4811435,3855129,9518,2020-03-26 13:07:58,СБ,Проверка формы обращения,Не резерв
540753,4811435,3855129,9518,2020-03-26 17:21:10,Оформление,Назначить время на оформление,Недозвон
540752,4811435,3855129,9518,2020-03-27 10:58:45,Оформление,Назначить время на оформление,Недозвон
540751,4811435,3855129,9518,2020-03-27 14:13:44,Оформление,Назначить время на оформление,Перенос звонка
540750,4811435,3855129,9518,2020-03-30 17:02:01,Оформление,Назначить время на оформление,Недозвон
540749,4811435,3855129,9518,2020-03-30 17:29:17,Оформление,Назначить время на оформление,Время назначено
540748,4811435,3855129,9518,2020-03-30 17:29:20,Оформление,Узнать результаты приема,Нет обратной связи от руководителя
540747,4811435,3855129,9518,2020-03-31 15:01:22,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540746,4811435,3855129,9518,2020-04-01 13:01:24,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540745,4811435,3855129,9518,2020-04-02 11:01:36,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540744,4811435,3855129,9518,2020-04-03 09:02:23,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540743,4811435,3855129,9518,2020-04-03 16:04:38,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540742,4811435,3855129,9518,2020-04-06 14:04:39,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540741,4811435,3855129,9518,2020-04-07 09:01:30,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540740,4811435,3855129,9518,2020-04-07 13:05:04,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540739,4811435,3855129,9518,2020-04-08 08:03:19,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540738,4811435,3855129,9518,2020-04-08 13:07:37,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540737,4811435,3855129,9518,2020-04-09 08:07:08,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540736,4811435,3855129,9518,2020-04-09 13:08:55,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540735,4811435,3855129,9518,2020-04-10 08:05:31,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540734,4811435,3855129,9518,2020-04-10 13:05:32,Оформление,Предоставить обратную связь по кандидату,ОС не предоставлена руководителем
540733,4811435,3855129,9518,2020-04-10 13:05:33,Оформление,Предоставить обратную связь по кандидату,Отказ руководителя