In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse


from sklearn.linear_model import LinearRegression
import numpy as np
import statsmodels.api as sm

In [2]:
df = pd.read_csv('regression_stages.csv')
ID_TYPE = 'id_applicant'
df= df.drop('Unnamed: 0', axis=1)
df

,id_applicant,1_start,1_end,2_start,2_end,3_start,3_end,4_start,4_end,1_full,2_full,3_full,4_full,2_work,3_work,4_work,2_delay,3_delay,4_delay,tth
0,2196746,2018-01-05 06:37:15,2018-01-05 06:37:32,2018-01-05 06:37:33,2018-01-05 06:37:33,2018-01-05 06:37:34,2018-01-05 15:48:57,2018-01-09 09:27:48,2018-02-01 23:04:53,0.000197,0.000012,0.382917,27.302731,0.000000,0.382905,23.567419,0.000012,0.000012,3.735313,27.685856
1,2196747,2018-01-05 06:37:54,2018-01-05 06:37:54,2018-01-05 06:39:23,2018-01-05 06:39:23,2018-01-05 06:39:24,2018-01-09 13:18:04,2018-01-10 09:15:09,2018-01-11 09:51:21,0.000000,0.001030,4.276863,1.856447,0.000000,4.276852,1.025139,0.001030,0.000012,0.831308,6.134340
2,2196748,2018-01-05 06:39:55,2018-01-05 06:40:12,2018-01-05 06:40:13,2018-01-05 06:40:13,2018-01-05 06:40:14,2018-01-09 17:15:17,2018-01-10 09:48:22,2018-02-02 12:41:49,0.000197,0.000012,4.441019,23.810093,0.000000,4.441007,23.120451,0.000012,0.000012,0.689641,28.251319
3,2196752,2018-01-05 06:50:30,2018-01-05 06:50:55,2018-01-05 06:50:56,2018-01-05 06:50:56,2018-01-05 06:50:57,2018-01-09 14:26:24,2018-01-10 11:48:50,2018-01-22 11:43:14,0.000289,0.000012,4.316296,12.886690,0.000000,4.316285,11.996111,0.000012,0.000012,0.890579,17.203287
4,2196753,2018-01-05 06:50:31,2018-01-05 06:50:47,2018-01-05 06:50:48,2018-01-05 06:50:48,2018-01-05 06:50:49,2018-01-05 15:32:40,2018-01-09 09:21:15,2018-01-15 10:32:20,0.000185,0.000012,0.362407,9.791435,0.000000,0.362396,6.049363,0.000012,0.000012,3.742072,10.154039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166877,4871932,2020-04-10 11:38:24,2020-04-10 11:38:39,2020-04-10 11:38:40,2020-04-10 11:38:40,2020-04-10 11:38:41,2020-04-10 14:00:21,2020-04-10 17:30:42,2020-04-13 14:14:22,0.000174,0.000012,0.098391,3.009734,0.000000,0.098380,2.863657,0.000012,0.000012,0.146076,3.108310
166878,4874547,2020-04-10 17:10:11,2020-04-10 17:10:26,2020-04-10 17:10:28,2020-04-10 17:10:29,2020-04-10 17:10:30,2020-04-10 17:10:32,2020-04-10 17:10:33,2020-04-13 16:47:34,0.000174,0.000035,0.000035,2.984051,0.000012,0.000023,2.984039,0.000023,0.000012,0.000012,2.984294
166879,4874561,2020-04-10 17:12:31,2020-04-10 17:12:56,2020-04-10 17:12:57,2020-04-10 17:12:58,2020-04-10 17:12:59,2020-04-10 17:13:01,2020-04-10 17:13:02,2020-04-13 16:45:57,0.000289,0.000023,0.000035,2.981204,0.000012,0.000023,2.981192,0.000012,0.000012,0.000012,2.981551
166880,4874899,2020-04-10 18:37:18,2020-04-10 18:38:09,2020-04-10 18:38:10,2020-04-10 19:23:00,2020-04-10 19:23:01,2020-04-12 11:28:59,2020-04-13 17:18:25,2020-04-13 17:18:34,0.000590,0.031146,1.670822,1.242766,0.031134,1.670810,0.000104,0.000012,0.000012,1.242662,2.945324
166881,4875075,2020-04-11 08:31:29,2020-04-11 08:31:49,2020-04-11 08:31:51,2020-04-11 08:31:52,2020-04-11 08:31:53,2020-04-11 08:31:55,2020-04-11 08:32:08,2020-04-13 13:00:37,0.000231,0.000035,0.000035,2.186597,0.000012,0.000023,2.186447,0.000023,0.000012,0.000150,2.186898

In [11]:
df = df.drop(['1_start','1_end','2_start','2_end','3_start','3_end','4_start','4_end',],axis=1)
df

,id_applicant,1_full,2_full,3_full,4_full,2_work,3_work,4_work,2_delay,3_delay,4_delay,tth,fb_work_days,problem_calls,dep_tth_diff
0,2196746,0.000197,0.000012,0.382917,27.302731,0.000000,0.382905,23.567419,0.000012,0.000012,3.735313,27.685856,15.404556,0,3.947895
1,2196747,0.000000,0.001030,4.276863,1.856447,0.000000,4.276852,1.025139,0.001030,0.000012,0.831308,6.134340,0.000000,0,-1.452105
2,2196748,0.000197,0.000012,4.441019,23.810093,0.000000,4.441007,23.120451,0.000012,0.000012,0.689641,28.251319,0.000000,0,-1.194962
3,2196752,0.000289,0.000012,4.316296,12.886690,0.000000,4.316285,11.996111,0.000012,0.000012,0.890579,17.203287,7.702278,0,3.447895
4,2196753,0.000185,0.000012,0.362407,9.791435,0.000000,0.362396,6.049363,0.000012,0.000012,3.742072,10.154039,2.567426,0,1.305038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166369,4871932,0.000174,0.000012,0.098391,3.009734,0.000000,0.098380,2.863657,0.000012,0.000012,0.146076,3.108310,0.000000,0,-3.652105
166370,4874547,0.000174,0.000035,0.000035,2.984051,0.000012,0.000023,2.984039,0.000023,0.000012,0.000012,2.984294,0.000000,0,-2.367895
166371,4874561,0.000289,0.000023,0.000035,2.981204,0.000012,0.000023,2.981192,0.000012,0.000012,0.000012,2.981551,0.000000,0,-1.578421
166372,4874899,0.000590,0.031146,1.670822,1.242766,0.031134,1.670810,0.000104,0.000012,0.000012,1.242662,2.945324,0.000000,0,-2.652105
166373,4875075,0.000231,0.000035,0.000035,2.186597,0.000012,0.000023,2.186447,0.000023,0.000012,0.000150,2.186898,0.000000,0,-4.433058

In [3]:
df2 = pd.read_csv('regression_data_v3.csv')
ID_TYPE = 'id_applicant'
df2= df2.drop('Unnamed: 0', axis=1)
df2

,id_applicant,department_id,year,month,fb_work_days,problem_calls,dep_tth_diff,employed,season_1,season_2,season_3,tth,interview_work_days
0,2196746,6715,2018,1,12,0,3.947895,5,1,0,0,19,0
1,2546014,6715,2018,5,0,0,3.947895,5,0,1,0,14,0
2,2751786,6715,2018,7,12,0,3.947895,5,0,0,1,16,0
3,3822521,6715,2019,6,6,0,3.947895,5,0,0,1,9,0
4,4002627,6715,2019,8,3,0,3.947895,5,0,0,1,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166370,4856011,49582,2020,4,3,0,-5.052105,1,0,1,0,4,0
166371,4856688,49376,2020,4,0,0,-5.052105,1,0,1,0,4,0
166372,4859108,49324,2020,4,0,0,-7.052105,3,0,1,0,2,0
166373,4863844,47590,2020,4,0,0,-2.052105,8,0,1,0,3,0
166374,4865042,48222,2020,4,0,0,-8.052105,2,0,1,0,1,0

In [4]:
df = pd.merge(df, df2[['id_applicant', 'fb_work_days', 'problem_calls', 'dep_tth_diff']], on='id_applicant', how='inner')
df

,id_applicant,1_start,1_end,2_start,2_end,3_start,3_end,4_start,4_end,1_full,...,2_work,3_work,4_work,2_delay,3_delay,4_delay,tth,fb_work_days,problem_calls,dep_tth_diff
0,2196746,2018-01-05 06:37:15,2018-01-05 06:37:32,2018-01-05 06:37:33,2018-01-05 06:37:33,2018-01-05 06:37:34,2018-01-05 15:48:57,2018-01-09 09:27:48,2018-02-01 23:04:53,0.000197,...,0.000000,0.382905,23.567419,0.000012,0.000012,3.735313,27.685856,12,0,3.947895
1,2196747,2018-01-05 06:37:54,2018-01-05 06:37:54,2018-01-05 06:39:23,2018-01-05 06:39:23,2018-01-05 06:39:24,2018-01-09 13:18:04,2018-01-10 09:15:09,2018-01-11 09:51:21,0.000000,...,0.000000,4.276852,1.025139,0.001030,0.000012,0.831308,6.134340,0,0,-1.452105
2,2196748,2018-01-05 06:39:55,2018-01-05 06:40:12,2018-01-05 06:40:13,2018-01-05 06:40:13,2018-01-05 06:40:14,2018-01-09 17:15:17,2018-01-10 09:48:22,2018-02-02 12:41:49,0.000197,...,0.000000,4.441007,23.120451,0.000012,0.000012,0.689641,28.251319,0,0,-1.194962
3,2196752,2018-01-05 06:50:30,2018-01-05 06:50:55,2018-01-05 06:50:56,2018-01-05 06:50:56,2018-01-05 06:50:57,2018-01-09 14:26:24,2018-01-10 11:48:50,2018-01-22 11:43:14,0.000289,...,0.000000,4.316285,11.996111,0.000012,0.000012,0.890579,17.203287,6,0,3.447895
4,2196753,2018-01-05 06:50:31,2018-01-05 06:50:47,2018-01-05 06:50:48,2018-01-05 06:50:48,2018-01-05 06:50:49,2018-01-05 15:32:40,2018-01-09 09:21:15,2018-01-15 10:32:20,0.000185,...,0.000000,0.362396,6.049363,0.000012,0.000012,3.742072,10.154039,2,0,1.305038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166369,4871932,2020-04-10 11:38:24,2020-04-10 11:38:39,2020-04-10 11:38:40,2020-04-10 11:38:40,2020-04-10 11:38:41,2020-04-10 14:00:21,2020-04-10 17:30:42,2020-04-13 14:14:22,0.000174,...,0.000000,0.098380,2.863657,0.000012,0.000012,0.146076,3.108310,0,0,-3.652105
166370,4874547,2020-04-10 17:10:11,2020-04-10 17:10:26,2020-04-10 17:10:28,2020-04-10 17:10:29,2020-04-10 17:10:30,2020-04-10 17:10:32,2020-04-10 17:10:33,2020-04-13 16:47:34,0.000174,...,0.000012,0.000023,2.984039,0.000023,0.000012,0.000012,2.984294,0,0,-2.367895
166371,4874561,2020-04-10 17:12:31,2020-04-10 17:12:56,2020-04-10 17:12:57,2020-04-10 17:12:58,2020-04-10 17:12:59,2020-04-10 17:13:01,2020-04-10 17:13:02,2020-04-13 16:45:57,0.000289,...,0.000012,0.000023,2.981192,0.000012,0.000012,0.000012,2.981551,0,0,-1.578421
166372,4874899,2020-04-10 18:37:18,2020-04-10 18:38:09,2020-04-10 18:38:10,2020-04-10 19:23:00,2020-04-10 19:23:01,2020-04-12 11:28:59,2020-04-13 17:18:25,2020-04-13 17:18:34,0.000590,...,0.031134,1.670810,0.000104,0.000012,0.000012,1.242662,2.945324,0,0,-2.652105
166373,4875075,2020-04-11 08:31:29,2020-04-11 08:31:49,2020-04-11 08:31:51,2020-04-11 08:31:52,2020-04-11 08:31:53,2020-04-11 08:31:55,2020-04-11 08:32:08,2020-04-13 13:00:37,0.000231,...,0.000012,0.000023,2.186447,0.000023,0.000012,0.000150,2.186898,0,0,-4.433058

In [5]:
df['fb_work_days'] = df['fb_work_days'].apply(lambda x: x*1.283713)

In [6]:
df

,id_applicant,1_start,1_end,2_start,2_end,3_start,3_end,4_start,4_end,1_full,...,2_work,3_work,4_work,2_delay,3_delay,4_delay,tth,fb_work_days,problem_calls,dep_tth_diff
0,2196746,2018-01-05 06:37:15,2018-01-05 06:37:32,2018-01-05 06:37:33,2018-01-05 06:37:33,2018-01-05 06:37:34,2018-01-05 15:48:57,2018-01-09 09:27:48,2018-02-01 23:04:53,0.000197,...,0.000000,0.382905,23.567419,0.000012,0.000012,3.735313,27.685856,15.404556,0,3.947895
1,2196747,2018-01-05 06:37:54,2018-01-05 06:37:54,2018-01-05 06:39:23,2018-01-05 06:39:23,2018-01-05 06:39:24,2018-01-09 13:18:04,2018-01-10 09:15:09,2018-01-11 09:51:21,0.000000,...,0.000000,4.276852,1.025139,0.001030,0.000012,0.831308,6.134340,0.000000,0,-1.452105
2,2196748,2018-01-05 06:39:55,2018-01-05 06:40:12,2018-01-05 06:40:13,2018-01-05 06:40:13,2018-01-05 06:40:14,2018-01-09 17:15:17,2018-01-10 09:48:22,2018-02-02 12:41:49,0.000197,...,0.000000,4.441007,23.120451,0.000012,0.000012,0.689641,28.251319,0.000000,0,-1.194962
3,2196752,2018-01-05 06:50:30,2018-01-05 06:50:55,2018-01-05 06:50:56,2018-01-05 06:50:56,2018-01-05 06:50:57,2018-01-09 14:26:24,2018-01-10 11:48:50,2018-01-22 11:43:14,0.000289,...,0.000000,4.316285,11.996111,0.000012,0.000012,0.890579,17.203287,7.702278,0,3.447895
4,2196753,2018-01-05 06:50:31,2018-01-05 06:50:47,2018-01-05 06:50:48,2018-01-05 06:50:48,2018-01-05 06:50:49,2018-01-05 15:32:40,2018-01-09 09:21:15,2018-01-15 10:32:20,0.000185,...,0.000000,0.362396,6.049363,0.000012,0.000012,3.742072,10.154039,2.567426,0,1.305038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166369,4871932,2020-04-10 11:38:24,2020-04-10 11:38:39,2020-04-10 11:38:40,2020-04-10 11:38:40,2020-04-10 11:38:41,2020-04-10 14:00:21,2020-04-10 17:30:42,2020-04-13 14:14:22,0.000174,...,0.000000,0.098380,2.863657,0.000012,0.000012,0.146076,3.108310,0.000000,0,-3.652105
166370,4874547,2020-04-10 17:10:11,2020-04-10 17:10:26,2020-04-10 17:10:28,2020-04-10 17:10:29,2020-04-10 17:10:30,2020-04-10 17:10:32,2020-04-10 17:10:33,2020-04-13 16:47:34,0.000174,...,0.000012,0.000023,2.984039,0.000023,0.000012,0.000012,2.984294,0.000000,0,-2.367895
166371,4874561,2020-04-10 17:12:31,2020-04-10 17:12:56,2020-04-10 17:12:57,2020-04-10 17:12:58,2020-04-10 17:12:59,2020-04-10 17:13:01,2020-04-10 17:13:02,2020-04-13 16:45:57,0.000289,...,0.000012,0.000023,2.981192,0.000012,0.000012,0.000012,2.981551,0.000000,0,-1.578421
166372,4874899,2020-04-10 18:37:18,2020-04-10 18:38:09,2020-04-10 18:38:10,2020-04-10 19:23:00,2020-04-10 19:23:01,2020-04-12 11:28:59,2020-04-13 17:18:25,2020-04-13 17:18:34,0.000590,...,0.031134,1.670810,0.000104,0.000012,0.000012,1.242662,2.945324,0.000000,0,-2.652105
166373,4875075,2020-04-11 08:31:29,2020-04-11 08:31:49,2020-04-11 08:31:51,2020-04-11 08:31:52,2020-04-11 08:31:53,2020-04-11 08:31:55,2020-04-11 08:32:08,2020-04-13 13:00:37,0.000231,...,0.000012,0.000023,2.186447,0.000023,0.000012,0.000150,2.186898,0.000000,0,-4.433058

In [7]:
from statsmodels.tools.eval_measures import rmse
def calc_error(y, y_pred):
    diff = y_pred - y
    diff = diff.apply(lambda x: abs(x))
    mean = diff.mean()
    median = diff.median()
    rmse_err = rmse(y, y_pred)
    print(f'mean err: {mean}')
    print(f'median err: {median}')
    print(f'rmse: {rmse_err}')

In [12]:
df = df.drop(['id_applicant'],axis=1)
df

,1_full,2_full,3_full,4_full,2_work,3_work,4_work,2_delay,3_delay,4_delay,tth,fb_work_days,problem_calls,dep_tth_diff
0,0.000197,0.000012,0.382917,27.302731,0.000000,0.382905,23.567419,0.000012,0.000012,3.735313,27.685856,15.404556,0,3.947895
1,0.000000,0.001030,4.276863,1.856447,0.000000,4.276852,1.025139,0.001030,0.000012,0.831308,6.134340,0.000000,0,-1.452105
2,0.000197,0.000012,4.441019,23.810093,0.000000,4.441007,23.120451,0.000012,0.000012,0.689641,28.251319,0.000000,0,-1.194962
3,0.000289,0.000012,4.316296,12.886690,0.000000,4.316285,11.996111,0.000012,0.000012,0.890579,17.203287,7.702278,0,3.447895
4,0.000185,0.000012,0.362407,9.791435,0.000000,0.362396,6.049363,0.000012,0.000012,3.742072,10.154039,2.567426,0,1.305038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166369,0.000174,0.000012,0.098391,3.009734,0.000000,0.098380,2.863657,0.000012,0.000012,0.146076,3.108310,0.000000,0,-3.652105
166370,0.000174,0.000035,0.000035,2.984051,0.000012,0.000023,2.984039,0.000023,0.000012,0.000012,2.984294,0.000000,0,-2.367895
166371,0.000289,0.000023,0.000035,2.981204,0.000012,0.000023,2.981192,0.000012,0.000012,0.000012,2.981551,0.000000,0,-1.578421
166372,0.000590,0.031146,1.670822,1.242766,0.031134,1.670810,0.000104,0.000012,0.000012,1.242662,2.945324,0.000000,0,-2.652105
166373,0.000231,0.000035,0.000035,2.186597,0.000012,0.000023,2.186447,0.000023,0.000012,0.000150,2.186898,0.000000,0,-4.433058

In [14]:
# hyp const
X = df.drop(['1_full','2_full','3_full','4_full', '2_work','3_work','4_work','2_delay','3_delay','4_delay','tth'], axis=1)
y = df['tth']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())
calc_error(y, est2.predict(X2))

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tth   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.317
Method:                 Least Squares   F-statistic:                 2.578e+04
Date:                Mon, 06 Jun 2022   Prob (F-statistic):               0.00
Time:                        09:02:35   Log-Likelihood:            -6.1264e+05
No. Observations:              166374   AIC:                         1.225e+06
Df Residuals:                  166370   BIC:                         1.225e+06
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            10.6078      0.026    405.423      0.000      10.556      10.659
fb_work_days      0.7123      0.004    184.663      0.000       0.705       0.720
problem_calls     1.9072      0.203      9.385      0.000       1.509       2.306
dep_tth_diff      1.1432      0.007    165.693      0.000       1.130       1.157
==============================================================================
Omnibus:                   116855.394   Durbin-Watson:                   1.914
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2288787.491
Skew:                           3.182   Prob(JB):                         0.00
Kurtosis:                      20.020   Cond. No.                         59.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
mean err: 5.882285988884889
median err: 3.9682467649015867
rmse: 9.615553477682138

In [15]:
# hyp no const
X = df.drop(['1_full','2_full','3_full','4_full', '2_work','3_work','4_work','2_delay','3_delay','4_delay','tth'], axis=1)
y = df['tth']

est = sm.OLS(y, X)
est2 = est.fit()
print(est2.summary())
calc_error(y, est2.predict(X))

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    tth   R-squared (uncentered):                   0.380
Model:                            OLS   Adj. R-squared (uncentered):              0.380
Method:                 Least Squares   F-statistic:                          3.406e+04
Date:                Mon, 06 Jun 2022   Prob (F-statistic):                        0.00
Time:                        09:05:41   Log-Likelihood:                     -6.6980e+05
No. Observations:              166374   AIC:                                  1.340e+06
Df Residuals:                  166371   BIC:                                  1.340e+06
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
fb_work_days      1.3876      0.005    282.896      0.000       1.378       1.397
problem_calls     5.6362      0.286     19.690      0.000       5.075       6.197
dep_tth_diff      0.8934      0.010     92.202      0.000       0.874       0.912
==============================================================================
Omnibus:                   104492.511   Durbin-Watson:                   1.133
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1631018.997
Skew:                           2.788   Prob(JB):                         0.00
Kurtosis:                      17.289   Cond. No.                         59.7
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
mean err: 9.39507535994966
median err: 6.9731132563051315
rmse: 13.55747635424256

In [16]:
# hr+calls const
X = df.drop(['1_full','2_full','3_full','4_full', '2_work','3_work','4_work','dep_tth_diff','fb_work_days','tth'], axis=1)
y = df['tth']

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())
calc_error(y, est2.predict(X2))

                            OLS Regression Results
==============================================================================
Dep. Variable:                    tth   R-squared:                       0.095
Model:                            OLS   Adj. R-squared:                  0.095
Method:                 Least Squares   F-statistic:                     4368.
Date:                Mon, 06 Jun 2022   Prob (F-statistic):               0.00
Time:                        09:10:05   Log-Likelihood:            -6.3609e+05
No. Observations:              166374   AIC:                         1.272e+06
Df Residuals:                  166369   BIC:                         1.272e+06
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            11.4229      0.029    391.465      0.000      11.366      11.480
2_delay           0.8397      0.020     42.063      0.000       0.801       0.879
3_delay           0.9352      0.015     63.733      0.000       0.906       0.964
4_delay           0.6594      0.006    108.331      0.000       0.648       0.671
problem_calls     1.8529      0.234      7.914      0.000       1.394       2.312
==============================================================================
Omnibus:                   111840.881   Durbin-Watson:                   1.943
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1654096.402
Skew:                           3.099   Prob(JB):                         0.00
Kurtosis:                      17.149   Cond. No.                         41.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
mean err: 7.259952797274699
median err: 5.596779128505708
rmse: 11.070906436541684

In [17]:
# hr+calls no const
X = df.drop(['1_full','2_full','3_full','4_full', '2_work','3_work','4_work','dep_tth_diff','fb_work_days','tth'], axis=1)
y = df['tth']

est = sm.OLS(y, X)
est2 = est.fit()
print(est2.summary())
calc_error(y, est2.predict(X))

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                    tth   R-squared (uncentered):                   0.206
Model:                            OLS   Adj. R-squared (uncentered):              0.206
Method:                 Least Squares   F-statistic:                          1.081e+04
Date:                Mon, 06 Jun 2022   Prob (F-statistic):                        0.00
Time:                        09:10:24   Log-Likelihood:                     -6.9040e+05
No. Observations:              166374   AIC:                                  1.381e+06
Df Residuals:                  166370   BIC:                                  1.381e+06
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
2_delay           1.1506      0.028     41.619      0.000       1.096       1.205
3_delay           1.2050      0.020     59.309      0.000       1.165       1.245
4_delay           1.5174      0.008    192.775      0.000       1.502       1.533
problem_calls     5.7844      0.324     17.842      0.000       5.149       6.420
==============================================================================
Omnibus:                    93519.847   Durbin-Watson:                   1.114
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1110709.792
Skew:                           2.489   Prob(JB):                         0.00
Kurtosis:                      14.638   Cond. No.                         41.2
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
mean err: 10.615935316608834
median err: 7.154189048937587
rmse: 15.344742454597053