In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse

In [2]:
FILEPATH_ALL = "all_data.csv"
FILEPATH_2020 = "with_closed_ations_as________select_app_2020_X5_STORES.csv"
FILEPATH_2019 = "with_closed_ations_as________select_app_2019_X5_STORES.csv"
FILEPATH_2018 = "with_closed_ations_as________select_app_2018_X5_STORES.csv"
df = pd.read_csv(FILEPATH_ALL)

/home/lev/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
# Это скрипт для объединения датасетов в один + удаления ненужной инфы + фикса дат
# df18 = pd.read_csv(FILEPATH_2018)
# df19 = pd.read_csv(FILEPATH_2019)
# df20 = pd.read_csv(FILEPATH_2020)
# df_all = pd.concat([df18, df19, df20])
# df_all = df_all.reset_index(drop=True)
# df_all = df_all[df_all['position_name'] == 'Продавец-кассир']
# df_all = df_all[df_all['is_active_action'] == True]
# df_all = df_all.drop('is_active_action', axis=1)
# df_all['action_date'] = df_all['action_date'].str[:19]
# df_all['action_date'] = pd.to_datetime(df_all['action_date'], format="%Y-%m-%d %H:%M:%S")
# df_all = df_all.reset_index(drop=True)
# df_all.to_csv('all_data.csv')

In [6]:
# df = df[df['position_name'] == 'Продавец-кассир']
# df = df[df['is_active_action'] == True]
# df = df.drop('is_active_action', axis=1)
# df['action_date'] = df['action_date'].str[:19]
# df['action_date'] = pd.to_datetime(df['action_date'], format="%Y-%m-%d %H:%M:%S")

In [7]:
def generate_unique_csv(df, filename):
    df_new = df[['stage_name','activity_name','result_name']]
    df_new = df_new.drop_duplicates().sort_values('stage_name')
    df_new = df_new.reset_index(drop=True)
    df_new
    df_copy = df.copy()
    df_copy[['stage_name', 'activity_name', 'result_name']] = df_copy[['stage_name', 'activity_name', 'result_name']].fillna('')
    df_new[['stage_name', 'activity_name', 'result_name']] = df_new[['stage_name', 'activity_name', 'result_name']].fillna('')
    df_new['count'] = 0
    for index, row in df_new.iterrows():
        val = df_copy[(df_copy['stage_name'] == row['stage_name']) & (df_copy['activity_name'] == row['activity_name']) & (df_copy['result_name'] == row['result_name'])].shape[0]
        df_new.at[index, 'count'] = val
    df_new.sort_values('stage_name').to_csv(filename)
    return df_new

def clientInfo(df, id):
    return df[df['id_applicant'] == id].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

def partnerInfo(df, id):
    return df[df['id_partner'] == id].drop(['is_open_action', 'position_name'], axis=1).sort_values('action_date')

In [80]:
# df.head(20)

In [81]:
# df[df['id_partner'] == 3287923].sort_values('action_date')

In [8]:
df_hired = df[(df['stage_name'] == 'Оформление') & (df['activity_name'] == 'Узнать результаты приема') & (df['result_name'] == 'Принят')]

In [9]:
df_hired = df_hired.reset_index(drop=True)
df_hired

,Unnamed: 0,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
0,1131399,2575961,2104304,12877586,9690,2018-05-14 12:47:13,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
1,1131429,2557905,1873453,13211463,29597,2018-05-30 10:56:15,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
2,1131510,2765162,2674072,14073811,10366,2018-07-12 18:05:32,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
3,1131537,2221906,2407501,11096231,25185,2018-01-18 10:34:25,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
4,1131704,3322984,1748924,17535306,36870,2019-01-28 12:23:20,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...,...
201214,704170,4854560,3855417,26915732,49671,2020-04-07 11:05:40,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
201215,704241,4883157,3860226,27087224,10660,2020-04-13 15:18:28,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
201216,704254,4846293,3856487,27087777,7649,2020-04-13 15:32:12,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
201217,704464,4864742,1593647,27105932,23665,2020-04-14 11:07:42,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
201218,704686,4786759,3842225,26635619,6260,2020-03-25 16:28:25,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False

In [10]:
# hired_ids = df_hired['id_applicant']
hired_ids = df_hired['id_partner']

In [11]:
hired_ids

0         2104304
1         1873453
2         2674072
3         2407501
4         1748924
           ...
201214    3855417
201215    3860226
201216    3856487
201217    1593647
201218    3842225
Name: id_partner, Length: 201219, dtype: int64

In [12]:
# df_filtered = df[df['id_applicant'].isin(hired_ids)]
df_filtered = df[df['id_partner'].isin(hired_ids)]

In [13]:
df_created = df_filtered[df_filtered['stage_name'] == 'Создание кандидата']
df_created

,Unnamed: 0,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
10,10,2467884,2537042,-1,32087,2018-04-04 16:53:13,Создание кандидата,NaN,NaN,Продавец-кассир,False
12,12,2279379,944152,-1,32087,2018-01-31 07:52:10,Создание кандидата,NaN,NaN,Продавец-кассир,False
13,14,2201602,2396613,-1,32087,2018-01-09 14:20:30,Создание кандидата,NaN,NaN,Продавец-кассир,False
21,25,3210176,2961793,-1,26933,2018-11-23 08:48:28,Создание кандидата,NaN,NaN,Продавец-кассир,False
22,26,3201933,2299039,-1,26933,2018-11-21 12:07:33,Создание кандидата,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...,...
10333662,214768,4584872,2818591,-1,35445,2020-02-03 12:40:34,Создание кандидата,NaN,NaN,Продавец-кассир,False
10333663,214769,4776093,3836825,-1,48422,2020-03-18 11:46:00,Создание кандидата,NaN,NaN,Продавец-кассир,False
10333665,214774,4727707,3811782,-1,5940,2020-03-05 11:16:04,Создание кандидата,NaN,NaN,Продавец-кассир,False
10333670,214780,4742498,1535437,-1,6731,2020-03-10 16:10:24,Создание кандидата,NaN,NaN,Продавец-кассир,False
10333683,214801,4790888,3182834,-1,11018,2020-03-22 13:24:11,Создание кандидата,NaN,NaN,Продавец-кассир,False

In [14]:
# created_ids = df_created['id_applicant']
created_ids = df_created['id_partner']
created_ids.count()

365479

In [15]:
ids = set(created_ids).intersection(set(hired_ids))
len(ids)

193725

In [16]:
# df_filtered = df[df['id_applicant'].isin(hired_ids)]
df_filtered = df[df['id_partner'].isin(hired_ids)]
df_filtered

,Unnamed: 0,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
10,10,2467884,2537042,-1,32087,2018-04-04 16:53:13,Создание кандидата,NaN,NaN,Продавец-кассир,False
12,12,2279379,944152,-1,32087,2018-01-31 07:52:10,Создание кандидата,NaN,NaN,Продавец-кассир,False
13,14,2201602,2396613,-1,32087,2018-01-09 14:20:30,Создание кандидата,NaN,NaN,Продавец-кассир,False
21,25,3210176,2961793,-1,26933,2018-11-23 08:48:28,Создание кандидата,NaN,NaN,Продавец-кассир,False
22,26,3201933,2299039,-1,26933,2018-11-21 12:07:33,Создание кандидата,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...,...
10704332,739560,4866076,1610039,-1,31348,2020-04-23 16:26:11,Оформление,Узнать результаты приема,NaN,Продавец-кассир,True
10704334,739562,4574305,3176350,-1,31348,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704365,739599,4832858,2815671,-1,31531,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704402,739641,4820124,1496280,-1,31928,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
10704433,739678,4782853,2753502,-1,32110,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True

In [18]:
# df_filtered = df_filtered.sort_values(['id_applicant','action_date'])
df_filtered = df_filtered.sort_values(['id_partner','action_date'])
# df_filtered = df_filtered.reset_index(drop=True).drop('Unnamed: 0', axis=1)
df_filtered

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
0,2562674,530587,-1,28445,2018-05-08 15:40:40,Создание кандидата,NaN,NaN,Продавец-кассир,False
1,2562674,530587,12800034,28445,2018-05-08 15:40:59,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
2,2562674,530587,12800035,28445,2018-05-08 15:41:00,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,False
3,2562674,530587,12800039,28445,2018-05-08 15:41:01,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
4,2562674,530587,12800036,28445,2018-05-08 15:41:01,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
3484117,3417104,3897229,17675714,28924,2019-02-05 10:10:47,Интервью с руководителем,Узнать результаты интервью с руководителем,Перенос кандидата,Продавец-кассир,False
3484118,3417104,3897229,17675720,28924,2019-02-05 10:10:56,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,False
3484119,3417104,3897229,17701978,28924,2019-02-06 11:45:17,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,False
3484120,3417104,3897229,17701983,28924,2019-02-06 11:45:19,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
3484121,3417104,3897229,17708927,28924,2019-02-06 15:00:27,СБ,Узнать результаты СБ,Не подходит,Продавец-кассир,False

In [19]:
# groups = df_filtered.groupby('id_applicant')
groups = df_filtered.groupby('id_partner')

In [20]:
# last = groups.last()
last = groups.nth(-1)
last

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
530587,3527892,18266663,28579,2019-03-12 13:26:31,Обработка,Провести первичную обработку,Отказ кандидата,Продавец-кассир,False
530898,3162450,19131811,32819,2019-04-22 14:35:43,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
530987,2934029,15073655,34993,2018-09-03 11:29:37,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
531257,3030241,15680825,35332,2018-10-04 10:46:48,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
531496,2800432,14481241,8585,2018-08-02 14:59:43,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...
3894075,3168495,16398607,8280,2018-11-19 10:18:25,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
3894709,4882121,27081875,30234,2020-04-13 13:37:51,Обработка,Провести первичную обработку,Отказ кандидата,Продавец-кассир,False
3896441,4885387,-1,9248,2020-04-23 16:26:11,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True
3896610,3752441,19864574,9583,2019-06-03 11:22:47,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False
3897229,3417104,17708927,28924,2019-02-06 15:00:27,СБ,Узнать результаты СБ,Не подходит,Продавец-кассир,False

In [21]:
last['activity_name'].unique()

array(['Провести первичную обработку', 'Узнать результаты приема',
       'Узнать результаты СБ', nan,
       'Назначить время на оформление/медосмотр',
       'Узнать результаты интервью с руководителем',
       'Назначить интервью с руководителем', 'Вывести из черного списка',
       'Назначить время на оформление/медосмотр (недозвон)',
       'Проверка формы обращения', 'Назначить время на оформление',
       'Узнать результаты медосмотра', 'Вернуть в воронку',
       'Предоставить обратную связь по кандидату',
       'Подготовить анкету кандидата', 'Проверка источника'], dtype=object)

In [22]:
last['stage_name'].unique()

array(['Обработка', 'Оформление', 'СБ', 'Создание кандидата',
       'Интервью с руководителем', 'Не прошел СБ',
       'Назначение времени на оформление/медосмотр', 'Смена вакансии',
       'Выход на работу', 'Ожидание', 'Черный список', 'Отказался',
       'Резерв'], dtype=object)

In [23]:
last['result_name'].unique()

array(['Отказ кандидата', 'Принят', 'Не подходит', nan, 'Время назначено',
       'Резерв', 'Не резерв', 'Встреча назначена', 'Не принят',
       'В белый список', 'Недозвон', 'Отказ руководителя', 'Ожидание',
       'Нет обратной связи', 'Назначить время на оформление/медосмотр',
       'В ожидании', 'Подходит', 'Подготовлена',
       'ОС не предоставлена руководителем', 'Оформление',
       'Направлен на медосмотр', 'Перенос кандидата',
       'Согласование повторного приема', 'Источник не Яндекс Цифра',
       'Кадровый резерв'], dtype=object)

In [26]:
not_hired = last[last['result_name'] != 'Принят']
not_hired

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
530587,3527892,18266663,28579,2019-03-12 13:26:31,Обработка,Провести первичную обработку,Отказ кандидата,Продавец-кассир,False
532769,4028561,21763541,32827,2019-08-30 14:37:39,СБ,Узнать результаты СБ,Не подходит,Продавец-кассир,False
533147,3263992,-1,9999,2018-12-08 09:45:36,Создание кандидата,NaN,NaN,Продавец-кассир,False
533161,3359231,17372169,10406,2019-01-18 10:53:05,Оформление,Назначить время на оформление/медосмотр,Время назначено,Продавец-кассир,False
533376,3949869,21202091,27149,2019-08-02 17:11:00,Обработка,Провести первичную обработку,Отказ кандидата,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...
3893115,4879057,-1,11720,2020-04-23 16:26:11,Не прошел СБ,Вывести из черного списка,NaN,Продавец-кассир,True
3893185,4886422,-1,10552,2020-04-23 16:26:11,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True
3894709,4882121,27081875,30234,2020-04-13 13:37:51,Обработка,Провести первичную обработку,Отказ кандидата,Продавец-кассир,False
3896441,4885387,-1,9248,2020-04-23 16:26:11,Интервью с руководителем,Узнать результаты интервью с руководителем,NaN,Продавец-кассир,True
3897229,3417104,17708927,28924,2019-02-06 15:00:27,СБ,Узнать результаты СБ,Не подходит,Продавец-кассир,False

In [29]:
# partnerInfo(df,3897229)

In [30]:
df_filtered = df_filtered[df_filtered['id_partner'].isin(list(not_hired.index)) == False]
df_filtered = df_filtered.sort_values(['id_partner','action_date'])
df_filtered

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
10,3083562,530898,-1,32819,2018-10-17 14:29:23,Создание кандидата,NaN,NaN,Продавец-кассир,False
11,3083562,530898,15892981,32819,2018-10-17 14:29:38,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
12,3083562,530898,15892982,32819,2018-10-17 14:29:39,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,False
13,3083562,530898,15892983,32819,2018-10-17 14:29:40,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,False
14,3083562,530898,15892984,32819,2018-10-17 14:29:41,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
3484067,3752441,3896610,19725530,9583,2019-05-27 09:35:20,Оформление,Назначить время на оформление/медосмотр,Время назначено,Продавец-кассир,False
3484068,3752441,3896610,19787731,9583,2019-05-29 11:18:56,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484069,3752441,3896610,19850588,9583,2019-05-31 15:18:58,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484070,3752441,3896610,19851280,9583,2019-05-31 15:35:35,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484071,3752441,3896610,19864574,9583,2019-06-03 11:22:47,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False

In [31]:
groups = df_filtered.groupby('id_partner')
# first = groups.first()
first = groups.nth(0)
first

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
530898,3083562,-1,32819,2018-10-17 14:29:23,Создание кандидата,NaN,NaN,Продавец-кассир,False
530987,2896299,-1,34993,2018-08-22 13:22:01,Создание кандидата,NaN,NaN,Продавец-кассир,False
531257,2577399,-1,34012,2018-05-14 16:24:54,Создание кандидата,NaN,NaN,Продавец-кассир,False
531496,2800432,-1,8585,2018-07-24 12:05:40,Создание кандидата,NaN,NaN,Продавец-кассир,False
531592,3786005,-1,9599,2019-06-07 10:12:32,Создание кандидата,NaN,NaN,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...
3888967,4870328,-1,30439,2020-04-10 06:34:42,Создание кандидата,NaN,NaN,Продавец-кассир,False
3889027,4870452,-1,11000,2020-04-10 08:02:43,Создание кандидата,NaN,NaN,Продавец-кассир,False
3889037,4870466,-1,48153,2020-04-10 08:08:44,Создание кандидата,NaN,NaN,Продавец-кассир,False
3894075,2588505,-1,8291,2018-05-17 12:27:26,Создание кандидата,NaN,NaN,Продавец-кассир,False
3896610,3752441,-1,9583,2019-05-24 15:46:46,Создание кандидата,NaN,NaN,Продавец-кассир,False

In [34]:
print(first['stage_name'].unique())
first[first['stage_name'] != 'Создание кандидата']

['Создание кандидата' 'Обработка' 'Интервью с руководителем'
 'Смена вакансии']

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
558273,2958232,15216344,27343,2018-09-10 11:11:52,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
558447,3003695,15478177,10828,2018-09-24 11:00:53,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
562414,3014673,15544594,10201,2018-09-26 14:20:39,Обработка,Проверка источника,Источник не Яндекс Цифра,Продавец-кассир,False
562632,3011857,15527341,11182,2018-09-26 07:36:55,Обработка,Проверка источника,Источник не Яндекс Цифра,Продавец-кассир,False
566084,3495056,18083679,10834,2019-02-28 10:27:42,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...
3327433,3859601,20540741,35253,2019-07-04 11:55:01,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3476360,3004184,15481146,12766,2018-09-24 11:46:25,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3620852,3491881,18067296,44093,2019-02-27 13:07:35,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3709652,3490013,18057241,9405,2019-02-27 09:11:24,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3862726,4826627,26767436,49427,2020-03-31 14:12:51,Смена вакансии,NaN,NaN,Продавец-кассир,False

In [37]:
# partnerInfo(df, 3862726)

In [38]:
not_created = first[first['stage_name'] != 'Создание кандидата']
not_created

,id_applicant,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
id_partner,,,,,,,,,
558273,2958232,15216344,27343,2018-09-10 11:11:52,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
558447,3003695,15478177,10828,2018-09-24 11:00:53,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
562414,3014673,15544594,10201,2018-09-26 14:20:39,Обработка,Проверка источника,Источник не Яндекс Цифра,Продавец-кассир,False
562632,3011857,15527341,11182,2018-09-26 07:36:55,Обработка,Проверка источника,Источник не Яндекс Цифра,Продавец-кассир,False
566084,3495056,18083679,10834,2019-02-28 10:27:42,Обработка,Проверка формы обращения,Не резерв,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...
3327433,3859601,20540741,35253,2019-07-04 11:55:01,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3476360,3004184,15481146,12766,2018-09-24 11:46:25,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3620852,3491881,18067296,44093,2019-02-27 13:07:35,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3709652,3490013,18057241,9405,2019-02-27 09:11:24,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
3862726,4826627,26767436,49427,2020-03-31 14:12:51,Смена вакансии,NaN,NaN,Продавец-кассир,False

In [39]:
df_filtered = df_filtered[df_filtered['id_partner'].isin(not_created.index) == False]
df_filtered = df_filtered.sort_values(['id_partner','action_date'])
df_filtered

,id_applicant,id_partner,id_log,department_id,action_date,stage_name,activity_name,result_name,position_name,is_open_action
10,3083562,530898,-1,32819,2018-10-17 14:29:23,Создание кандидата,NaN,NaN,Продавец-кассир,False
11,3083562,530898,15892981,32819,2018-10-17 14:29:38,Обработка,Провести первичную обработку,Подходит,Продавец-кассир,False
12,3083562,530898,15892982,32819,2018-10-17 14:29:39,Интервью с руководителем,Назначить интервью с руководителем,Встреча назначена,Продавец-кассир,False
13,3083562,530898,15892983,32819,2018-10-17 14:29:40,Интервью с руководителем,Узнать результаты интервью с руководителем,Подходит,Продавец-кассир,False
14,3083562,530898,15892984,32819,2018-10-17 14:29:41,СБ,Подготовить анкету кандидата,Подготовлена,Продавец-кассир,False
...,...,...,...,...,...,...,...,...,...,...
3484067,3752441,3896610,19725530,9583,2019-05-27 09:35:20,Оформление,Назначить время на оформление/медосмотр,Время назначено,Продавец-кассир,False
3484068,3752441,3896610,19787731,9583,2019-05-29 11:18:56,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484069,3752441,3896610,19850588,9583,2019-05-31 15:18:58,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484070,3752441,3896610,19851280,9583,2019-05-31 15:35:35,Оформление,Узнать результаты приема,В ожидании,Продавец-кассир,False
3484071,3752441,3896610,19864574,9583,2019-06-03 11:22:47,Оформление,Узнать результаты приема,Принят,Продавец-кассир,False

In [40]:
# groups = df_filtered.groupby('id_applicant')
groups = df_filtered.groupby('id_partner')

In [51]:
df_new = pd.DataFrame()
df_new['id'] = list(groups.groups)
df_new['actions'] = groups['action_date'].count().values
df_new['first'] = groups.first()['action_date'].values
df_new['last'] = groups.last()['action_date'].values
# df_new['last_action'] = groups.last()['action_date'].values

In [52]:
df_new

             id  actions                first                 last
0        530898       15  2018-10-17 14:29:23  2019-04-22 14:35:43
1        530987       25  2018-08-22 13:22:01  2018-09-03 11:29:37
2        531257       78  2018-05-14 16:24:54  2018-10-04 10:46:48
3        531496       10  2018-07-24 12:05:40  2018-08-02 14:59:43
4        531592       22  2019-06-07 10:12:32  2019-07-01 12:59:34
...         ...      ...                  ...                  ...
172728  3888967       14  2020-04-10 06:34:42  2020-04-13 17:07:18
172729  3889027       10  2020-04-10 08:02:43  2020-04-13 18:35:08
172730  3889037       21  2020-04-10 08:08:44  2020-04-13 15:53:01
172731  3894075       41  2018-05-17 12:27:26  2018-11-19 10:18:25
172732  3896610       13  2019-05-24 15:46:46  2019-06-03 11:22:47

[172733 rows x 4 columns]

In [53]:
df_new['first'] = pd.to_datetime(df_new['first'], format="%Y-%m-%d %H:%M:%S")
df_new['last'] = pd.to_datetime(df_new['last'], format="%Y-%m-%d %H:%M:%S")

In [55]:
df_new['diff'] = df_new['last'] - df_new['first']
# df_new.dtypes

In [56]:
df_new

,id,actions,first,last,diff
0,530898,15,2018-10-17 14:29:23,2019-04-22 14:35:43,187 days 00:06:20
1,530987,25,2018-08-22 13:22:01,2018-09-03 11:29:37,11 days 22:07:36
2,531257,78,2018-05-14 16:24:54,2018-10-04 10:46:48,142 days 18:21:54
3,531496,10,2018-07-24 12:05:40,2018-08-02 14:59:43,9 days 02:54:03
4,531592,22,2019-06-07 10:12:32,2019-07-01 12:59:34,24 days 02:47:02
...,...,...,...,...,...
172728,3888967,14,2020-04-10 06:34:42,2020-04-13 17:07:18,3 days 10:32:36
172729,3889027,10,2020-04-10 08:02:43,2020-04-13 18:35:08,3 days 10:32:25
172730,3889037,21,2020-04-10 08:08:44,2020-04-13 15:53:01,3 days 07:44:17
172731,3894075,41,2018-05-17 12:27:26,2018-11-19 10:18:25,185 days 21:50:59
172732,3896610,13,2019-05-24 15:46:46,2019-06-03 11:22:47,9 days 19:36:01

In [57]:
df_new['diff_days'] = df_new['diff'].apply(lambda x: x.days)
df_new['diff_hours'] = df_new['diff'].apply(lambda x: x.total_seconds()//3600)

In [58]:
df_new

,id,actions,first,last,diff,diff_days,diff_hours
0,530898,15,2018-10-17 14:29:23,2019-04-22 14:35:43,187 days 00:06:20,187,4488.0
1,530987,25,2018-08-22 13:22:01,2018-09-03 11:29:37,11 days 22:07:36,11,286.0
2,531257,78,2018-05-14 16:24:54,2018-10-04 10:46:48,142 days 18:21:54,142,3426.0
3,531496,10,2018-07-24 12:05:40,2018-08-02 14:59:43,9 days 02:54:03,9,218.0
4,531592,22,2019-06-07 10:12:32,2019-07-01 12:59:34,24 days 02:47:02,24,578.0
...,...,...,...,...,...,...,...
172728,3888967,14,2020-04-10 06:34:42,2020-04-13 17:07:18,3 days 10:32:36,3,82.0
172729,3889027,10,2020-04-10 08:02:43,2020-04-13 18:35:08,3 days 10:32:25,3,82.0
172730,3889037,21,2020-04-10 08:08:44,2020-04-13 15:53:01,3 days 07:44:17,3,79.0
172731,3894075,41,2018-05-17 12:27:26,2018-11-19 10:18:25,185 days 21:50:59,185,4461.0
172732,3896610,13,2019-05-24 15:46:46,2019-06-03 11:22:47,9 days 19:36:01,9,235.0

In [60]:
df_new['diff_days'].describe()

count    172733.000000
mean         47.253414
std          97.406002
min           0.000000
25%           7.000000
50%          13.000000
75%          29.000000
max         825.000000
Name: diff_days, dtype: float64

In [62]:
df_new = df_new[df_new['diff_hours'] > 0]
df_new
# df_new[df_new['diff_hours'] < 1]

,id,actions,first,last,diff,diff_days,diff_hours
0,530898,15,2018-10-17 14:29:23,2019-04-22 14:35:43,187 days 00:06:20,187,4488.0
1,530987,25,2018-08-22 13:22:01,2018-09-03 11:29:37,11 days 22:07:36,11,286.0
2,531257,78,2018-05-14 16:24:54,2018-10-04 10:46:48,142 days 18:21:54,142,3426.0
3,531496,10,2018-07-24 12:05:40,2018-08-02 14:59:43,9 days 02:54:03,9,218.0
4,531592,22,2019-06-07 10:12:32,2019-07-01 12:59:34,24 days 02:47:02,24,578.0
...,...,...,...,...,...,...,...
172728,3888967,14,2020-04-10 06:34:42,2020-04-13 17:07:18,3 days 10:32:36,3,82.0
172729,3889027,10,2020-04-10 08:02:43,2020-04-13 18:35:08,3 days 10:32:25,3,82.0
172730,3889037,21,2020-04-10 08:08:44,2020-04-13 15:53:01,3 days 07:44:17,3,79.0
172731,3894075,41,2018-05-17 12:27:26,2018-11-19 10:18:25,185 days 21:50:59,185,4461.0
172732,3896610,13,2019-05-24 15:46:46,2019-06-03 11:22:47,9 days 19:36:01,9,235.0

In [63]:
df_new[df_new['diff_hours'] < 24]

,id,actions,first,last,diff,diff_days,diff_hours
3144,756227,11,2018-10-08 14:13:50,2018-10-08 16:44:29,0 days 02:30:39,0,2.0
9248,1220729,11,2019-05-22 14:06:29,2019-05-23 13:11:57,0 days 23:05:28,0,23.0
10206,1279866,11,2019-03-20 15:02:07,2019-03-21 11:44:04,0 days 20:41:57,0,20.0
14190,1559559,8,2018-04-04 11:34:46,2018-04-04 17:03:08,0 days 05:28:22,0,5.0
17888,1785159,10,2020-04-06 15:25:52,2020-04-07 12:36:32,0 days 21:10:40,0,21.0
...,...,...,...,...,...,...,...
150876,3350915,10,2019-07-18 11:14:21,2019-07-18 17:02:30,0 days 05:48:09,0,5.0
152193,3362380,10,2019-07-24 16:30:06,2019-07-25 14:33:48,0 days 22:03:42,0,22.0
159769,3428353,11,2019-09-02 12:13:53,2019-09-03 11:58:07,0 days 23:44:14,0,23.0
172723,3888571,11,2020-04-09 17:17:16,2020-04-10 16:11:58,0 days 22:54:42,0,22.0
172725,3888734,11,2020-04-09 18:08:44,2020-04-10 16:36:07,0 days 22:27:23,0,22.0

In [64]:
df_new = df_new[df_new['diff_hours'] >= 24]
df_new

,id,actions,first,last,diff,diff_days,diff_hours
0,530898,15,2018-10-17 14:29:23,2019-04-22 14:35:43,187 days 00:06:20,187,4488.0
1,530987,25,2018-08-22 13:22:01,2018-09-03 11:29:37,11 days 22:07:36,11,286.0
2,531257,78,2018-05-14 16:24:54,2018-10-04 10:46:48,142 days 18:21:54,142,3426.0
3,531496,10,2018-07-24 12:05:40,2018-08-02 14:59:43,9 days 02:54:03,9,218.0
4,531592,22,2019-06-07 10:12:32,2019-07-01 12:59:34,24 days 02:47:02,24,578.0
...,...,...,...,...,...,...,...
172728,3888967,14,2020-04-10 06:34:42,2020-04-13 17:07:18,3 days 10:32:36,3,82.0
172729,3889027,10,2020-04-10 08:02:43,2020-04-13 18:35:08,3 days 10:32:25,3,82.0
172730,3889037,21,2020-04-10 08:08:44,2020-04-13 15:53:01,3 days 07:44:17,3,79.0
172731,3894075,41,2018-05-17 12:27:26,2018-11-19 10:18:25,185 days 21:50:59,185,4461.0
172732,3896610,13,2019-05-24 15:46:46,2019-06-03 11:22:47,9 days 19:36:01,9,235.0

In [65]:
df_new['work_days'] = df_new.apply(lambda x: np.busday_count(x['first'].strftime('%Y-%m-%d'), x['last'].strftime('%Y-%m-%d')), axis=1)

<ipython-input-65-0e56b01a1201>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['work_days'] = df_new.apply(lambda x: np.busday_count(x['first'].strftime('%Y-%m-%d'), x['last'].strftime('%Y-%m-%d')), axis=1)

In [66]:
df_new

,id,actions,first,last,diff,diff_days,diff_hours,work_days
0,530898,15,2018-10-17 14:29:23,2019-04-22 14:35:43,187 days 00:06:20,187,4488.0,133
1,530987,25,2018-08-22 13:22:01,2018-09-03 11:29:37,11 days 22:07:36,11,286.0,8
2,531257,78,2018-05-14 16:24:54,2018-10-04 10:46:48,142 days 18:21:54,142,3426.0,103
3,531496,10,2018-07-24 12:05:40,2018-08-02 14:59:43,9 days 02:54:03,9,218.0,7
4,531592,22,2019-06-07 10:12:32,2019-07-01 12:59:34,24 days 02:47:02,24,578.0,16
...,...,...,...,...,...,...,...,...
172728,3888967,14,2020-04-10 06:34:42,2020-04-13 17:07:18,3 days 10:32:36,3,82.0,1
172729,3889027,10,2020-04-10 08:02:43,2020-04-13 18:35:08,3 days 10:32:25,3,82.0,1
172730,3889037,21,2020-04-10 08:08:44,2020-04-13 15:53:01,3 days 07:44:17,3,79.0,1
172731,3894075,41,2018-05-17 12:27:26,2018-11-19 10:18:25,185 days 21:50:59,185,4461.0,132
172732,3896610,13,2019-05-24 15:46:46,2019-06-03 11:22:47,9 days 19:36:01,9,235.0,6

In [67]:
df_new[df_new['work_days'] == 0]

,id,actions,first,last,diff,diff_days,diff_hours,work_days
13646,1522889,10,2018-10-27 12:14:58,2018-10-29 23:15:46,2 days 11:00:48,2,59.0,0
49305,2541363,8,2018-04-07 07:17:20,2018-04-09 16:15:52,2 days 08:58:32,2,56.0,0
63688,2639150,10,2018-06-09 13:33:15,2018-06-11 23:03:17,2 days 09:30:02,2,57.0,0
96287,2891129,16,2018-10-20 09:17:34,2018-10-22 12:36:40,2 days 03:19:06,2,51.0,0
165420,3476303,11,2019-09-28 07:12:25,2019-09-30 17:49:18,2 days 10:36:53,2,58.0,0
165456,3476579,12,2019-09-28 11:27:47,2019-09-30 16:58:47,2 days 05:31:00,2,53.0,0
171291,3858790,12,2020-03-29 11:00:13,2020-03-30 20:26:14,1 days 09:26:01,1,33.0,0
172332,3873591,10,2020-04-04 11:35:27,2020-04-06 17:27:09,2 days 05:51:42,2,53.0,0

In [68]:
df_new.loc[(df_new['work_days'] == 0), 'work_days'] = 1

/home/lev/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [69]:
df_new[df_new['work_days'] == 0]

Empty DataFrame
Columns: [id, actions, first, last, diff, diff_days, diff_hours, work_days]
Index: []

In [72]:
df_new.describe()

,id,actions,diff,diff_days,diff_hours,work_days
count,1.709940e+05,170994.000000,170994,170994.000000,170994.000000,170994.000000
mean,2.718816e+06,16.914319,48 days 04:38:58.202808286,47.733979,1156.149976,34.389780
std,6.604827e+05,9.018841,97 days 18:40:43.370218464,97.782831,2346.678547,69.839771
min,5.308980e+05,2.000000,1 days 00:01:39,1.000000,24.000000,1.000000
25%,2.501516e+06,11.000000,7 days 03:33:47.500000,7.000000,171.000000,5.000000
50%,2.812239e+06,14.000000,13 days 09:49:03,13.000000,321.000000,9.000000
75%,3.180884e+06,20.000000,29 days 20:42:45,29.000000,716.000000,21.000000
max,3.896610e+06,223.000000,825 days 06:12:12,825.000000,19806.000000,589.000000

In [84]:
df_new.sort_values('work_days').tail(1000)

,id,actions,first,last,diff,diff_days,diff_hours,work_days
156398,3399154,17,2018-02-26 10:37:17,2019-08-23 15:03:56,543 days 04:26:39,543,13036.0,389
34035,2419855,28,2018-01-19 09:08:33,2019-07-18 14:48:53,545 days 05:40:20,545,13085.0,389
50801,2552185,23,2018-04-13 13:06:03,2019-10-10 15:59:18,545 days 02:53:15,545,13082.0,389
17849,1782576,28,2018-01-24 15:09:33,2019-07-23 11:59:25,544 days 20:49:52,544,13076.0,389
35704,2433080,33,2018-01-29 09:02:43,2019-07-26 11:37:54,543 days 02:35:11,543,13034.0,389
...,...,...,...,...,...,...,...,...
5346,924186,29,2018-01-05 17:00:34,2020-04-07 15:47:03,822 days 22:46:29,822,19750.0,587
3908,809972,58,2018-01-10 16:02:34,2020-04-13 12:00:17,823 days 19:57:43,823,19771.0,588
6797,1035374,23,2018-01-05 09:49:15,2020-04-08 16:42:45,824 days 06:53:30,824,19782.0,588
31040,2395437,18,2018-01-09 11:31:52,2020-04-13 17:44:04,825 days 06:12:12,825,19806.0,589
31054,2395618,42,2018-01-09 11:56:30,2020-04-13 15:02:01,825 days 03:05:31,825,19803.0,589

In [87]:
# partnerInfo(df, 2419855)

In [101]:
quantile = df_new['work_days'].quantile(0.95)
df_new[df_new['work_days'] < quantile].describe()

,id,actions,diff,diff_days,diff_hours,work_days
count,1.624210e+05,162421.000000,162421,162421.000000,162421.000000,162421.000000
mean,2.737689e+06,16.163987,29 days 01:30:02.443581803,28.601702,697.001262,20.724906
std,6.578249e+05,7.894660,46 days 07:52:28.145550166,46.327817,1111.875189,33.090516
min,5.308980e+05,2.000000,1 days 00:01:39,1.000000,24.000000,1.000000
25%,2.517749e+06,11.000000,7 days 01:22:10,7.000000,169.000000,5.000000
50%,2.841472e+06,14.000000,12 days 20:24:08,12.000000,308.000000,9.000000
75%,3.198916e+06,20.000000,25 days 11:26:18,25.000000,611.000000,18.000000
max,3.896610e+06,134.000000,274 days 15:09:55,274.000000,6591.000000,195.000000